* {
  box-sizing: border-box;
}
body {
  font-family: 'Cabin', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff0e5;
}

/* NAV MENU */

header {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 14%;
}

.part_i {
  margin-left: 30px;
  /* background-color: aqua; */
}
.nav_links {
  padding: 0;
  /* background-color: rgb(234, 255, 127); */
  list-style: none;
}
.part_ii {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 50px;
  /* background-color: aqua; */
}
.nav_login {
  min-width: 50px;
  /* background-color: rgb(234, 255, 127); */
  padding: 0;
  list-style: none;
}

.nav_links li a {
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.nav_links li a:hover {
  color: blue;
}

.nav_links li {
  display: inline-block;
  padding: 0px 10px;
}

.nav_login li {
}

.nav_login li a:hover {
  color: blue;
}

.login a {
  font-size: 16px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  /* background-color: chartreuse; */
}

.icon {
}

.logo {
  height: 26px;
  cursor: pointer;
}

.toggle-button {
  position: absolute;
  top: 1.4rem;
  right: 2.2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 15px;
  height: 15px;
}

.toggle-button .bar {
  height: 1.5px;
  width: 100%;

  background-color: black;
  border-radius: 10px;
}

/* LANDING PAGE */

.landing-page {
  margin-top: 50px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.landing-page .main-img {
  margin-left: 225px;
  width: 500px;
}

.section-join {
  /* background-color: rgb(44, 200, 83); */
  width: 400px;
}

.section-join h1 {
  font-size: 25px;
  text-align: justify;
}
.landing-page-icons {
  display: flex;
  /* justify-content: space-between; */
}

.landing-page-icons img {
  background-color: white;
  width: 50px;
  border: 0.5px solid black;
  padding: 15px;
  margin-right: 10px;
}

.lading-page-form {
  /* width: 200px; */
  display: block;
}

.lading-page-form label {
  display: block;
  font-size: 17px;
  /* margin-bottom: 5px; */
}

.lading-page-form input {
  display: block;
  width: 400px;
  height: 50px;
  border: 0.5px solid black;
  border-radius: 1px;
}

.lading-page-form button {
  margin-top: 30px;
  background-color: rgb(72, 0, 255);
  color: white;
  height: 30px;
  border: 0.5px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  font-weight: bold;
}

.terms p {
  font-size: 14px;
}

.signup p {
  font-size: 17px;
  font-weight: bold;
}

/* SECTION 2 */
.take-a-quiz {
  background-color: #ffd300;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  padding: 50px;
  align-items: center;
}

.quiz-part-i {
  margin-left: 50%;
  width: 250px;
}
.quiz-part-i h1 {
  font-size: 45px;
  margin: 0 0 15px 0;
  padding: 0;
}

.quiz-part-i p {
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 17px;
  text-indent: 5px;
}

.take-a-quiz img {
  width: 25%;
  margin-left: 25%;
}

.take-a-quiz button {
  margin-top: 30px;
  background-color: rgb(72, 0, 255);
  color: white;
  height: 30px;
  border: 0.5px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  font-weight: bold;
}

/* MEDIA RESPONSIVE */
@media (max-width: 400px) {
  /* NAV MENU */
  .toggle-button {
    display: flex;
  }
  .nav_links {
    display: none;
  }
  .icon {
    display: none;
  }
  .logo {
    height: 18px;
    position: relative;
    right: 20px;
  }
  .login a {
    font-size: 12px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    /* background-color: chartreuse; */
  }
}
