* {
  box-sizing: border-box;
}
body {
  font-family: 'Cabin', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff0e5;
}

/* NAV MENU */

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 14%;
}

.part_i {
  margin-left: 30px;
}
.nav_links {
  padding: 0;
  list-style: none;
}
.part_ii {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 50px;
}
.nav_login {
  min-width: 50px;
  padding: 0;
  list-style: none;
}

.nav_links li a {
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.nav_links li a:hover {
  color: blue;
}

.nav_links li {
  display: inline-block;
  padding: 0px 10px;
}

.nav_login li {
}

.nav_login li a:hover {
  color: blue;
}

.login a {
  font-size: 16px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.icon {
}

.logo {
  height: 26px;
  cursor: pointer;
}

.toggle-button {
  position: absolute;
  top: 1.4rem;
  right: 2.2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 15px;
  height: 15px;
}

.landing-page button a {
  text-decoration: none;
  color: white;
}

.toggle-button .bar {
  height: 1.5px;
  width: 100%;

  background-color: black;
  border-radius: 10px;
}

/* LANDING PAGE */

.landing-page {
  margin-top: 50px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.landing-page .main-img {
  margin-left: 200px;
  width: 500px;
}

.section-join {
  width: 400px;
}

.section-join h1 {
  font-size: 25px;
  text-align: justify;
}
.landing-page-icons {
  display: flex;
}

.landing-page-icons img {
  background-color: white;
  width: 50px;
  border: 0.5px solid black;
  padding: 15px;
  margin-right: 10px;
}

.lading-page-form {
  display: block;
}

.lading-page-form label {
  display: block;
  font-size: 17px;
}

.lading-page-form input {
  display: block;
  width: 400px;
  height: 50px;
  border: 0.5px solid black;
  border-radius: 1px;
}

.lading-page-form button {
  margin-top: 30px;
  background-color: rgb(72, 0, 255);
  color: white;
  height: 30px;
  border: 0.5px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  font-weight: bold;
}

.terms p {
  font-size: 14px;
}

.signup p {
  font-size: 17px;
  font-weight: bold;
}

/* SECTION 2 */
.take-a-quiz {
  background-color: #ffd300;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  padding: 50px;
  align-items: center;
}

.quiz-part-i {
  margin-left: 50%;
  width: 250px;
}
.quiz-part-i h1 {
  font-size: 45px;
  margin: 0 0 15px 0;
  padding: 0;
}

.quiz-part-i p {
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 17px;
  text-indent: 5px;
}

.take-a-quiz img {
  min-width: 25%;
  margin-left: 25%;
}

.take-a-quiz button {
  margin-top: 30px;
  background-color: rgb(72, 0, 255);
  color: white;
  height: 30px;
  border: 0.5px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  font-weight: bold;
}

.take-a-quiz button a {
  text-decoration: none;
  color: white;
}

/* SECTION 3 */

.stories-title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0;
  margin: 50px 300px 20px 300px;
}

.stories-title-main h1 {
  padding: 0;
  margin: 0;
  font-size: 45px;
}

.stories-title-main span {
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.stories-title-link a {
  font-weight: bold;
  text-decoration: none;
  color: blue;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.stories-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  text-align: justify;
  margin: 30px 250px;
  margin-left: 300px;
}

.stories-content img {
  width: 200px;
}

.stories-content h3,
p {
  width: 200px;
}

.stories-content p {
  margin-top: -20px;
  font-size: 18px;
}

/* FOOTER */
.footer-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  margin: 50px 300px 0px 300px;
}

.footer-part-i {
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  width: 55%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    'i ii iii'
    'iv v vi'
    'iv vii .';
  border-right: 1px solid;
}

.footer-part-i ul {
  list-style: none;
  padding: 0;
}
.footer-part-i h5 {
  margin-top: 0px;
}

.footer-part-ii {
  text-align: left;
  font-size: 16px;
  width: 45%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    'ft1 ft1 ft1'
    'ft2 ft3 ft4';
  margin-left: 20px;
  position: relative;
}

.footer-part-ii ul {
  list-style: none;
  padding: 0;
  margin-top: 0px;
}

.footer-part-ii h5 {
  margin-top: 0px;
}

/* Individual */

.footer-i {
  grid-area: i;
}
.footer-ii {
  grid-area: ii;
}
.footer-iii {
  grid-area: iii;
}
.footer-iv {
  grid-area: iv;
}
.footer-v {
  grid-area: v;
}
.footer-vi {
  grid-area: vi;
}
.footer-vii {
  grid-area: vii;
}

.footer-1 {
  grid-area: ft1;
}

.footer-2 {
  grid-area: ft2;
}
.footer-3 {
  grid-area: ft3;
  margin-left: 20px;
}
.footer-4 {
  grid-area: ft4;
  margin-left: 20px;
}

.footer-infoii {
  text-align: left;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 50px 300px 20px 300px;
  border-top: 1px solid;
  height: 50px;
}

.footer-infoii a {
  text-decoration: none;
  color: black;
}

/* MEDIA RESPONSIVE MOBILE */
@media (max-width: 480px) {
  /* NAV MENU */
  .toggle-button {
    display: flex;
  }
  .nav_links {
    display: none;
  }
  .icon {
    display: none;
  }
  .logo {
    height: 18px;
    position: relative;
    right: 20px;
  }
  .login a {
    font-size: 12px;
    color: black;
    font-weight: bold;
    text-decoration: none;
  }

  /* LANDING PAGE */

  .landing-page {
    margin-top: 50px;
    grid-template-columns: 1fr;
    margin: 0 20px 0 20px;
  }

  .landing-page .main-img {
    margin: 0;
    width: 300px;
  }

  .section-join {
    width: 300px;
  }

  .section-join h1 {
    line-height: 40px;
  }

  .lading-page-form {
    display: block;
  }

  .lading-page-form input {
    width: 300px;
  }

  .terms p {
    width: 300px;
  }

  /* SECTION 2 */
  .take-a-quiz {
    grid-template-columns: 1fr;
    margin-left: 0;
  }

  .quiz-part-i {
    order: 2;
    margin-left: auto;
    width: 300px;
  }
  .quiz-part-i h1 {
    width: 100%;
    margin-top: 50px;
  }

  .quiz-part-i p {
    width: 100%;
    text-align: justify;
  }

  .take-a-quiz img {
    order: 1;
    max-width: 60%;
    margin-right: auto;
  }

  /* SECTION 3 */

  .stories-from-real-people {
    margin: 0 20px 0 20px;
  }

  .stories-title {
    width: 300px;
    margin-left: 0;
  }

  .stories-title-main h1 {
    margin-bottom: 10px;
  }

  .stories-title-link a {
    display: none;
  }
  .stories-content img {
    width: 300px;
  }
  .stories-content h3 {
    margin-top: 0px;
    margin-bottom: 30px;
    width: 250px;
  }

  .stories-content p {
    width: 250px;
  }

  .stories-content {
    grid-template-columns: 1fr;
    margin-left: 0px;
  }

  /* FOOTER */
  .footer-info {
    flex-direction: column;
    margin: 50px 0 0 0;
  }

  .footer-info {
    margin: 0 20px 0 20px;
  }
  .footer-i {
    grid-area: lg;
  }
  .footer-ii {
    grid-area: rs;
  }
  .footer-iii {
    grid-area: cm;
  }
  .footer-iv {
    grid-area: mb;
    width: 200px;
    margin-bottom: 20px;
  }

  .footer-iv ul {
    display: flex;
    justify-content: space-between;
  }
  .footer-v {
    grid-area: ip;
  }
  .footer-vi {
    grid-area: ep;
  }
  .footer-vii {
    grid-area: sp;
  }

  .footer-1 {
    grid-area: cc;
  }

  .footer-2 {
    grid-area: sb;
  }
  .footer-3 {
    grid-area: lg;
    margin-left: 0;
  }
  .footer-4 {
    grid-area: C;
    margin-left: 0;
  }

  .footer-part-i {
    border-right: none;
    width: 100%;

    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);

    grid-template-areas:
      'lg rs'
      'sp cm'
      'ip ep'
      'mb mb';

    border-bottom: 1px solid;
  }

  .footer-part-ii {
    margin-left: 0;
    margin-top: 20px;

    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);

    grid-template-areas:
      'cc cc'
      'lg C'
      'sb sb';
    width: 100%;
  }

  .footer-infoii {
    margin: 20px 0 20px 0;
    text-align: center;
    flex-direction: column;
  }

  .footer-infoii span {
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .ftbottom {
    margin-top: 20px;
  }
}

/* MEDIA RESPONSIVE TABLET */
@media (min-width: 480px) and (max-width: 768px) {
  /* NAV MENU */
  .toggle-button {
    display: flex;
  }
  .nav_links {
    display: none;
  }
  .icon {
    display: none;
  }
  .logo {
    height: 18px;
    position: relative;
    right: 20px;
  }
  .login a {
    font-size: 12px;
    color: black;
    font-weight: bold;
    text-decoration: none;
  }

  /* LANDING PAGE */
  .landing-page .main-img {
    margin-left: auto;
    width: 300px;
  }

  .section-join {
    width: 300px;
    margin-left: 20px;
  }

  .lading-page-form input {
    width: 300px;
  }

  /* SECTION 2 */

  .quiz-part-i {
    margin-left: 20%;
  }

  .take-a-quiz img {
    min-width: 10%;
  }

  /* SECTION 3 */

  .stories-title {
    margin: 50px 40px 20px 40px;
  }

  .stories-title-main {
    width: 450px;
  }

  .stories-content {
    grid-template-columns: repeat(2, 1fr);
    margin: 30px;
  }

  .stories-content img {
    width: 300px;
  }

  /* FOOTER */
  .footer-info {
    flex-direction: column;
    margin: 50px 0 0 0;
  }

  .footer-info {
    margin: 0 20px 0 20px;
  }
  .footer-i {
    grid-area: lg;
  }
  .footer-ii {
    grid-area: rs;
  }
  .footer-iii {
    grid-area: cm;
  }
  .footer-iv {
    grid-area: mb;
    width: 200px;
    margin-bottom: 20px;
  }

  .footer-v {
    grid-area: ip;
  }
  .footer-vi {
    grid-area: ep;
  }
  .footer-vii {
    grid-area: sp;
  }

  .footer-1 {
    grid-area: cc;
  }

  .footer-2 {
    grid-area: sb;
  }
  .footer-3 {
    grid-area: lg;
    margin-left: 0;
  }
  .footer-4 {
    grid-area: C;
    margin-left: 0;
  }

  .footer-part-i {
    border-right: none;
    width: 100%;

    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);

    grid-template-areas:
      'lg rs cm'
      'mb ip ep  '
      '.. sp ..';

    border-bottom: 1px solid;
  }

  .footer-part-ii {
    margin-left: 0;
    margin-top: 20px;

    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);

    grid-template-areas:
      'cc cc cc cc'
      'lg C sb sb';
    width: 100%;
  }

  .footer-infoii {
    margin: 20px 0 20px 0;
    text-align: center;
    flex-direction: column;
  }

  .footer-infoii span {
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .ftbottom {
    margin-top: 20px;
  }
}
